@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-atlassian-bg text-atlassian-text font-sans antialiased;
  }
}

/* Custom Scrollbar styled nicely */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #DFE1E6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6B778C;
}
